black>=19.10b0
codecov>=2.1.10
mypy>=0.770
pre-commit>=2.2.0
pydocstyle>=5.1.1
pytest>=5.2.2
pytest-cov>=2.10.0
PyYAML>=5.1
requests>=2.14.2
sphinx>=2.0.1
sphinx-rtd-theme>=0.4.2
typing-extensions; python_version<='3.7'
